
body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

h2{
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 1.75em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  margin: 15px auto;
}

hr.colored {
  border-color: #FF5000;
  max-width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #FF5000;
  border-bottom: 1px solid #FF5000;
  height: 2px;
  margin: 15px auto;
}

label
{
  align: center;
  display: inline-block;
  width: 150px;
  vertical-align: middle;
  font-size: 1.05em;
  line-height: 1.5;
  padding: 0.5em;
}

input[type="text"],input [type="file"], textarea,progress {
  font-size: 18px;
  line-height: 1.5;
  width: 15em;
  margin-bottom: .5em;
  padding: 0.5em;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  vertical-align: middle;
}

input.ng-invalid, textarea.ng-invalid
{
  border: solid #FF5000 2px;
}

textarea {
  height: 7em;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #f1e5e6;
    background-color: #d3394c;
}

button {
  border-radius: 0;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  color: #222222;
  border: 1px solid #222222;
  background: transparent;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 auto;
    float: left;
}
